* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: rgb(240, 240, 240);
    font-family: Be Vietnam Pro, sans-serif;
}

/* HEADER */

header {
    font-family: Poppins, sans-serif;
    padding-left: 3vw;
    padding-right: 3vw;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-weight: 600;
    color: #135bb3;
}

header h1 .main-text {
    font-size: 2em;
    cursor: default;
}

header h1 .aditional-text {
    opacity: 0;
    cursor: default;
    transition: 0.4s ease-in-out all;
}

header h1 .main-text:hover + .aditional-text { /* credits: https://stackoverflow.com/a/4559346/18740899 */
    opacity: 1;
    transition: 0.4s ease-in-out all;
}

.theme-switch {
    width: 65px;
    height: 65px;
    
    border-radius: 100%;
    border-width: 1px;
    border-style: solid;

    cursor: pointer;
}

.theme-switch.white {
    border-color: rgb(252, 160, 40);
    background: linear-gradient(rgb(255, 161, 37), rgb(248, 185, 103));
    
    padding-bottom: 5px;
    padding-left: 3px;
    padding-right: 2px;
}

/* MAIN */

.main-flex-container {
    display: flex;
    justify-content: space-around;

    padding: 0px 10vw;
}

main {
    width: 45vw;
    height: 70vh;
}

.text-input {
    
    height: 100%;
    width: 100%;
    
    padding: 2vh 1vw;

    background: none;
    
    resize: none;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.219);
    border-radius: 5px;
    
    font-family: Be Vietnam Pro, sans-serif;
    font-size: 2em;
    color: #0A3871;
}

.text-input::placeholder {
    color: #0A387175;
    user-select: none;
}

.warning-message {
    display: flex;
    align-items: center;

    margin: 2vh 0px;
    color: #495057;
}

.warning-message img {
    margin-right: 5px;
    user-select: none;
}

main .buttons-container {
    display: flex;
    flex-wrap: nowrap;
}

main button {
    border: 1px solid #0A3871;;
    border-radius: 24px;

    font-size: 0.9em;

    flex-grow: 1;
    
    padding: 2.5vh;

    cursor: pointer;
    user-select: none;
}

main button.encrypt {
    color: #fff;
    background-color: #0A3871;
    margin-right: 0.5vw;
}

main button.decrypt {
    color: #0A3871;
    background-color: #D8DFE8;
    margin-left: 0.5vw;
}

main button:hover {
    filter: brightness(130%);
}

main button:active {
    filter: brightness(95%);
}

/* ASIDE */

.history {
    width: 30vw;
    height: 85vh;

    display: flex;
    flex-direction: column;
    padding: 10vh 3vw 0px 3vw;

    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

.history img {
    width: 330px;

    margin-left: auto;
    margin-right: auto;

    filter: brightness(120%);

    user-select: none;
}

.history h2, .history p {
    text-align: center;
    
}

/* FOOTER */

footer {

    margin-top: 6vh;

    padding: 2vh 2vw;

    box-shadow: 0px -24px 32px -8px rgba(0, 0, 0, 0.08);
}

footer p {
    display: inline;
    vertical-align: middle;
}

footer img {
    width: 2em;
    height: 2em;
    margin-left: 1vw;

    vertical-align:middle;
}